@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --background: #222222;
  --todo-form: #0f0f0f;
  --cor-da-fonte: #c7c7c7;
  --cor-h1: #efefef;
  --cor-todo: #1b1b1b;
  --button: #3a48cc;
  --color-input: #c7c7c7;
  --border-input: #474747;
  --border-bottom: #555;
  --complete: #5cb85c;
  --remove: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
  padding: 30px;
  color: var(--cor-da-fonte);
}

.app {
  max-width: 60%;
  margin: 0 auto 100px;
  background-color: var(--todo-form);
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  color: var(--cor-h1);
  text-align: center;
  margin: 20px auto;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

button {
  background-color: var(--button);
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-bottom);
}

.todo {
  background-color: var(--cor-todo);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  background-color: var(--background);
  border: 1px solid rgb(190, 190, 190);
}

.remove {
  background-color: var(--background);
  border: 1px solid rgb(190, 190, 190);
}

.todo-form {
  padding-bottom: 1.5rem;
}

input, select {
  background-color: var(--cor-todo);
  color: var(--color-input);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-input);
  border-radius: 7px;
  width: 100%;
  outline: none;
}

.filter, .search {
  border-bottom: 1px solid var(--border-bottom);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

@media (max-width: 880px) {
  body {
    padding: 0px;
  }

  .app {
    max-width: 100%;
    margin: 0px;
    border-radius: 0px;
  }

  .content {
    word-break: normal;
  }
  
  .todoButtons {
    white-space: nowrap;
  }
}



